<%= render "shared/header"%>

<div class="header_coment">
 <div class="first_coment"><%="<映画を投稿しよう>"%></div>
</div>

<%= image_tag 'おしゃれ１.jpeg', :size =>'1420x600' %>
<div><%=link_to "投稿する", new_movie_path %></div>
