.header_bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:dimgrey;
}

.title{
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.log{
 color: white;
 font-size: 20px;
 margin-right: 60px;
 text-decoration: none;
}

.session{
 color: white;
 font-size: 20px;
 text-decoration: none;
 margin-right: 30px;
}