  <header class="header">
    <div class="header_bar">
      <h1 class="title"><%= link_to "MovieRank", "#", class: "title" %></h1>
        <div class="log_session">
          <%= link_to "ログイン", "#", class: "log" %>
          <%= link_to "新規登録", "#", class: "session" %>
        </div>
    </div>
  </header>