
.first_coment{
  font-size: 25px;
  margin: 20px;
  text-align: center;
  color: white;
}

.post{
  font-size: 30px;
}

.subtitle{
  color: white;
  font-size: 25px;
}


.movie-contents {
  background-color: dimgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.movie-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}


.movie-img-content {
  position: relative;
}

.movie-img {
  width: 33vh;
  height: 33vh;
}

.movie-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.movie-name {
  font-size: 2.5vh;
}


.swiper-container {
  width: 600px;
  height: 300px;
}

.main-decolation{
  background-color: dimgrey;
}
