// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment{
  width: 20vw;
}

.upper-comment{
  display: flex;
  justify-content: left;
  margin-bottom: 5px;
  justify-content: center;
}

.comment-user{
  margin-right: 15px;
}

.comment-date{
  color: lightslategrey;
}

.comment-comment{
  margin: 0 0 10px 15px;
}